/******************************
* Основная секция с полем тетриса
******************************/
.rightColumn {
  margin-left: 20px;
}

.mainField {
  width: 250px;
  height: 500px;
  border: 1px black solid;
  padding: 0;
  background-color: lightgray;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 43%;
  left: 50%;
}

.fieldBlock,
.nextBlock {
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  position: absolute;
}

.currentFigureBlock,
.nextFigureBlock {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 5px;
  background-color: black;
  position: absolute;
}

.filledBlock {
  width: 15px;
  height: 15px;
  margin: 5px;
  border: 1px solid black;
  background-color: black;
  position: absolute;
}

.gameOverDiv,
.pauseDiv {
  width: 250px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 43%;
  left: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(0, 0, 0.9, 0.4);
  padding: 0;
}

.gameOverDiv span,
.pauseDiv span {
  line-height: 500px;
  font-size: 28px;
  font-weight: bold;
  color: whitesmoke;
}

/****************************
  Правая секция с данными
*****************************/

.rightSection {
  top: 43%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.levelsDiv,
.scoreDiv {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.nextField {
  width: 100px;
  height: 100px;
  border: 1px black solid;
  padding: 0;
  background-color: lightgray;
  margin: auto;
  position: relative;
}

/*****************************
  Нижняя секция с кнопками
*****************************/

.controlsSection {
  background-color: lightgrey;
  height: 100px;
  padding: 10px;
}

.button {
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
  color: whitesmoke;
}

/*********************************************************
* Для мобильных устройств
**********************************************************/

@media (max-width: 629px) {
}

@media (max-width: 565px) {
}

/**************** Ширина 479 *************************/
@media (max-width: 479px) {
  .rightColumn {
    margin-left: 0;
  }

  .mainField,
  .pauseDiv,
  .gameOverDiv {
    transform: translate(-50%, -50%);
    top: 43%;
    left: 65%;
  }

  .rightSection {
    top: 43%;
    left: 50%;
    position: absolute;
    transform: translate(-25%, -50%);
    padding: 0;
  }

  .controlsSection {
    height: 70px;
  }

  .button {
    padding: 4px;
    border-radius: 50%;
  }
}

/** Совсем маленькое разрешение  **/
@media (max-width: 389px) {
  .mainField,
  .pauseDiv,
  .gameOverDiv {
    transform: translate(-45%, -50%);
    top: 43%;
    left: 60%;
  }

  .rightSection {
    top: 43%;
    left: 55%;
    position: absolute;
    transform: translate(-25%, -50%);
    padding: 0;
  }

  .hideOnSmallPhones {
    display: none;
  }

  .controlsSection {
    height: 70px;
  }

  .button {
    padding: 1px;
    border-radius: 50%;
  }
}
